/* color palette
#2B2D42 - dark blue
#8D99AE - light blue
#EDF2F4 - blue/white
#EF233C - red
*/


/* global styles */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.icon-img {

  overflow:inherit;
  display:inline-block;
  width:25px;
  height:25px;
}
.profile-img {
  border-radius: 60%;
}
body {
  /* background: lightblue; */
  font-family: 'Open Sans', sans-serif;
  margin:0;
}

h1,h2 {
  font-family: 'Caveat', cursive;
  font-weight: 400;
}
h1 {
  font-size: 80px;
}
h2 {
  font-size: 40px;
  margin-top: 0px;
}

a {
  color: #EF233C ;
}
a:hover {
  text-decoration: none;
}

.content-wrap {
  max-width:950px;
  margin: 0 auto;
  padding:50px;
  overflow: auto;
}

.col-narrow {
  width: 30%;
  float: left;
  min-height:175px;
}

.col-wide {
  width: 70%;
  float: left;
  padding-left: 20px;
  min-height:175px;
}
/* header and footer */
header, footer {
  background: #2B2D42 ;
  color: #8D99AE ;
}
/* header styles */
header h1, header h2 {
  color: #EDF2F4 ;
  margin: 0;
}

/* footer styles */

footer {
  text-align:center;
}

.contact-info a {
    border-radius: 50px;
    border: solid 1px #20538D;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    background: #4479BA;
    color: #8D99AE;
    padding: 8px 12px;
    text-decoration:none;
    margin:5px;
}
/* work experience */
.work {
  background: #EDF2F4 ;
}

/* education */
.education {
  background: #8D99AE ;
}
